*{
    margin: 0;
    padding: 0;
    color: #2a3e48;
}
header{
    width: 100%;
    margin: 5px 0px 10px 0px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.logo {
    margin-left: 10px;
    object-fit: cover;
}
.nav{
     
    height: 60px;
    display: flex;
    align-items:flex-end;
}
.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    float: left;
  }
  .nav ul li{
    margin: 0 20px;
  }
  .nav ul li a{
    text-decoration: none;
    font-size: 15px;
  }
.subnav{
    display: none;
    background: white;
    position: absolute;
    padding-top: 35px;
    width: 100%;
    left: 0;
    z-index: 2;
    height: 180px;
}
.shop .subnav{
    display: none;
    background: white;
    position: absolute;
    padding-top: 35px;
    width: 100%;
    left: 0;
    z-index: 2;
    height: 230px;
}
.subnav .subabout{
    margin-left: 475px;
    display: block;
}
.subnav .subbrand {
    display: block;
    margin-left: 42%;
}
.news .subnav ul{
    display: block;
    margin-left: 58.5%;
}
.commuinty .subnav ul{
    display: block;
    margin-left: 64.5%;
}
.subnav .subabout li a,
.subnav .subbrand li a,
.news .subnav ul li a,
.commuinty .subnav ul li a{
    width: 100%;
    margin: 3px;
    float: left;
}
 
.about:hover .subnav,
.brand-work:hover .subnav,
.news:hover .subnav,
.commuinty:hover .subnav {
    display: block;
}
.subabout li:nth-of-type(1),
.subbrand li:nth-of-type(1),
.shop .subnav ul li:nth-of-type(1),
.news .subnav ul li:nth-of-type(1),
.commuinty .subnav ul li:nth-of-type(1){
    font-weight: bold;
}
.subabout li:hover  a,
.subbrand li:hover  a,
.shop .subnav ul li:hover a,
.news .subnav ul li:hover a,
.commuinty .subnav ul li:hover a  {
    font-weight: bold;
}
.shop:hover .subnav{
    display: flex;
}
.shop .subnav ul{
    display: block;
    position: relative;
    left: 34%;
}
.shop .subnav ul li{
    margin: 3px 25px;  
} 
.shop .subnav ul li a{
    width: 100%;
    text-align: left;
}

.menu {
    margin-top: 25px;
    margin-right: 30px;
    
}
.menu a {
    text-decoration: none;
    font-size: 22px;
    margin: 0 10px;
    color: #2a3e48;
    cursor: pointer;
}
.menu button:hover i,
.menu a:hover i{
    font-weight: bold;
}
.search{
    margin: 0 10px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}
.search-bar-container {
    display: none;  
    position: absolute;
    top: 92px;
    left: 29%;
    padding: 5px 10px;
    transform: translateX(-29%);
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 98%;
    z-index: 999;
}
.search-bar {
    width:80%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.containersearch{
    margin-left: 15px;
    font-size: 23px;
}
.del{
    text-decoration: none;
    margin-left: 13px;
    font-size: 23px;
}
.containersearch:hover i,
.del:hover{
    font-weight: bold;
}
.active .search-bar-container {
    display: block; /* active 클래스가 있으면 display: block으로 보이도록 설정 */
}

.slideall {
    margin:0 30px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 480px;
    position: relative;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* 모든 슬라이드는 기본적으로 숨겨짐 */
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    top: 45%;
    left: 5%;
}

.slide-text h2 {
    font-size: 1.7em;
    margin-bottom: 50px;
}

.slide-text p {
    font-size: 1em;
 
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: relative;
    text-align: center;
}

.dot {
    z-index: 999;
    height: 5px;
    width: 75px;
    margin: 15px 5px;
    background-color:rgb(113, 113, 113,0.5);
    border-radius: 20px;
    display: inline-block;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.dot.active {
    background-color:  rgb(187, 187, 187,0.5) ;
}
.Storyall{
    margin: 70px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.story{
    margin: 0 15px;
}
.Storyall i{
    font-size: 5rem;
}
.Storyall h3{
    margin: 15px;
    font-size: 1.8em;
}
.Storyall p{
    font-size: 1em;
}

/*best& new*/
.product-slider {
    width: 90%;
    margin: 0 auto;
    margin-top: 85px;
}
.product-slider h3{
    
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.buttons {
  
    text-align: center;
    margin-bottom: 20px;
}
.filter-btn {
    color: rgb(42, 62, 72,0.5);
    padding: 10px 7px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    text-underline-position: under;
    margin: 0 5px;
    transition: background-color 0.3s;
}
.filter-btn.active {
  
    color: #2a3e48;
 
}

.product-container{
    overflow: hidden;
} 
.products { 
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product {
     
    min-width: 25%;
    width: 85%; /* 3개씩 보여주기 위한 너비 */
    box-sizing: border-box;
    
}
.product a{
    text-decoration: none;
    margin-left: 30px;
}
.product img {
    min-width: 85%;
    width: 200px;
    height: auto;
}
.productname{
    margin:30px 0px 45px 30px;
    font-size: 15px;
    height: 50px;
    
}
.prdmoney{
    margin-bottom: 5px;
    color: darkgrey;
    text-decoration: line-through;
}
.product li{
    display: flex;
    margin-left: 30px;
}
.price-box p:nth-child(1){
    margin-right: 8px;
    color: #4BB9FF;
    font-weight: bold;
}
.productbtn{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
 
.new-products{
    margin-bottom: 21px;
}

.typecontiner{
    margin-top: 80px;
}
.typecontiner h3{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}
.typeall{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 35px;
    margin: 0 20px;
}
.type1{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    display: block;
    overflow: hidden;
}
 
.type1 img{
    width:  350px;
    height: 350px;
    border-radius: 100%;
}
.type1 a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.type1 P{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
 
}

.typetext3{
    position: absolute;
    margin-top: -220px;
    left: 77.5%;
    font-size: 23px;
    font-weight: 600;
    text-align: center; /
}
.type1:hover p{
    color: #037ECD;
    transition: all 0.3s ease-out;
}

.image-gallery {
    margin: auto;
    padding: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* 3열로 설정 (왼쪽: 1, 가운데: 2, 오른쪽: 2) */ /* 이미지 간의 간격 */

}
 
.left{
    position: relative;
    margin-left: 25px;
    width:640px;
    height: 600px;
}
.left img{
   width: 100%;
   height: 100%;
 
}
.lefttext h3{
    padding: 0;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.lefttext p{
    font-size: 1em;
    margin-left: 20px;
}
.lefttext{
    position: absolute;
    background: rgb(217, 217, 217,0.5);
    display: inline-block;
    bottom: 0%;
    width: 100%;
    height: 40%;
    

}
.center,.right{
    margin: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
}
.center-left{
    margin-bottom: 10px;
}
.center-left,
.center-right,
.right-top,
.right-bottom{
    position: relative;
}
.center-left,
.center-right{
    width: 310px;
    height: 295px; 
      
}
.center-left img,
.center-right img {
    width: 100%;
    height: 100%;
    /* 각 이미지를 50%씩 차지하게 할 수 있음 */
}
.right{
    margin-right: 30px;
}
.right-top,
.right-bottom{
    width: 310px;
    height: 295px;
}
.right-top{
    margin-bottom: 10px;
}
.right-top img,
.right-bottom img{
    width: 100%;
    height: 100%;; /* 오른쪽 이미지들이 가로로 꽉 차게 함 */
}
.centertxt,
.centertxtbottom,
.righttoptxt,
.rightbottom{
    position: absolute;
    background: rgb(217, 217, 217,0.5);
    display: inline-block;
    width: 100%;
    height: 40%;
    bottom: 0%;
    
}
 
.centertxt h3,
.centertxtbottom h3,
.righttoptxt h3,
.rightbottom h3{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;

}
.centertxt p,
.centertxtbottom p,
.righttoptxt p,
.rightbottom p{
    margin-left: 10px;
}
footer{
    background: #037ECD;
    padding-top: 30px;
    padding-bottom: 20px;
     
}
footer p{
    color: white;
}
.textlogo{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.fotall{
    margin: 18px 0;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
 
}
.footerone,
.footertwo{
    display: flex;
    margin: 0 30px;
}
.onep,
.twop{
    
    margin-right: 30px;
}
.onep p,
.twop p{
    margin: 20px 0;
}
.onep2 p,
.twop2 p{
    margin: 20px 0;
}
.footerlast{
    margin-top: 25px;
 
}
.footerlast ul{
    display: flex;
    text-align: center;
    justify-content: center;
 
 
}
.footerlast ul li{
    color: white;
    margin: 0 50px;
    list-style: none;
}
.footerlast ul li a{
    color: white;
    text-decoration: none; 
}
.hrhr{
    margin: 0 50px;
    border: 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}